.all-container{
    display: flex;
    align-items: stretch;
}

#sidebar{
    width: 250px;
    height: 100vh;
    background-color: #388ba7;
    color: white;
    transition: 1s;
}

#sidebar.active{
    margin-left: -200px;
}


.right-container{
    background-image: url(/static/images/sakura.jpg);
    background-color:rgba(0,0,0, 0.1);
    background-blend-mode: multiply;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.collapse-btn{
    position: relative;
    top: 1%;
    left: 200px;
    background-color: aquamarine;
    border: none;
    font-size: 30px;
}

.collapse-btn{
    position: relative;
    top: 1%;
    left: 200px;
    background-color: aquamarine;
    border: none;
    font-size: 30px;
    margin: 10px;
}

.collapse-btn:hover{
    background-color: rgb(92, 185, 154);
    transition: 0.4s;
}

#sidebar p{
    padding: 10px;
    text-align: center;
    font-size: 30px;
    font-style: oblique;
}

#sidebar ul li a{
    padding: 10px;
    text-align: left;
    font-size: 20px;
    display: block;
    color: aliceblue;
    text-decoration: none;
}

#sidebar ul li a:hover{
    color: #1f1e33;
    background:#ffffff;
}

.fa-solid{
    float: right;
}

ul ul li a{
    font-size: 12px;
    background-color: #4cb9de;
}


#saintess{
	position: relative;
	width: 120px;
	height: auto;
}

.link-page-container{
    margin-top: 2%;
    display: flex;
}

.homepage{
    margin-top: 10%;
    display: flex;
}

.left{
    text-align: center;
    width: 50%;
}
.right{
    text-align: center;
    width: 50%;
}

.mylink{
    text-align: center;
    width: 50%;
}
.reference{
    text-align: center;
    width: 50%;
}

.link-page-container div ul li a{
    padding: 10px;
    font-size: 30px;
    color: #1f1e33;
    text-decoration: underline;
}

.data{
    padding: 10px;
    display: flex;
}
.text{
    padding: 2%;
    text-align: left;
    font-size: 20px;
    width: 70%;
}
.icon{
    padding: 2%;
    text-align: right;
    font-size: 20px;
    width: 30%;
}
.icon img{
    width: 80%;
}
.summarycontainer{
    padding: 10px;
    display: flex;
}
.leftsummary{
    width: 50%;
    font-size: 20px;
    text-align: left;
}
.rightsummary{
    width: 50%;
    font-size: 20px;
    text-align: left;
}
#image{
    text-align: center;
}

@media (max-width:600px) {
    #saintess{
        width: 80px;
    }
    #image{
        text-align: left;
        width: 100%;
    }

    #sidebar{
        margin-left: -100px;
        width:150px;
        font-size: 20px;
    }
    .collapse-btn{
        position: relative;
        top: 1%;
        left: 110px;
    }
    #sidebar.active{
        margin-left: 0px;
    }
    #sidebar ul p{
        text-align: left;
        font-size: 16px;
    }
    #sidebar ul li a{
        text-align: left;
        font-size: 12px;
    }
    #sidebar ul ul li a{
        text-align: left;
        font-size: 10px;
    }
    .collapse-btn{
        font-size: 16px;
    }

    .left{
        text-align: center;
        font-size: 12px;
        width: 60%;
    }
    .left h3{
        font-size: 18px;
    }
    .right{
        text-align: center;
        width: 40%;
    }
    .right img{
        width: 60%;
    }
    .text{
        font-size: 12px;
    }
    .text h3{
        font-size: 18px;
    }
    .summarycontainer div h4{
        font-size: 16px;
    }
    .summarycontainer div{
        font-size: 12px;
    }

    .link-page-container div h2{
        font-size: 16px;
    }
    .link-page-container div ul li {
        font-size: 12px;
    }
    .link-page-container div ul li a{
        font-size: 12px;
    }

    #title{
        font-size: 20px;
    }


}