{% extends 'base.html' %}

{% block title %}
Sasaki's Profile
{% endblock %}

{% block message %}
<div class="profile">
    <div class="data">
        <div class="text">
            <h2>陳奕亨</h2><br>
            &nbsp;&nbsp;&nbsp;&nbsp;2002-10-26<br>
            &nbsp;&nbsp;&nbsp;&nbsp;0975117860<br>
            &nbsp;&nbsp;&nbsp;&nbsp;kanonagi1026@gmail.com<br>
        </div>
        <div class="icon">
            <img src="/static/images/kokomi.jpg">
        </div>
    </div>
    <hr>
    <div class="summarycontainer">
        <div class="leftsummary">
            <h4>簡歷</h4><br>
            &nbsp;&nbsp;&nbsp;&nbsp;高雄中學科學班<br>
            &nbsp;&nbsp;&nbsp;&nbsp;中央大學資訊工程學系<br><br>
            <h4>目前學習方向</h4><br>
            &nbsp;&nbsp;&nbsp;&nbsp;1.資安<br>
            &nbsp;&nbsp;&nbsp;&nbsp;2.Web前後端<br>
        </div>
        <div class="rightsummary">
            <h4>遊戲坑單</h4><br>
            &nbsp;&nbsp;&nbsp;&nbsp;原神 UID:901457551<br>
            &nbsp;&nbsp;&nbsp;&nbsp;maimai UID:8021033551329<br>
            &nbsp;&nbsp;&nbsp;&nbsp;LOL ID:提瓦特老婆收藏家<br>
        </div>
    </div>
</div>
{% endblock message %}