{% extends 'base.html' %}

{% block title %}
Others
{% endblock %}

{% block message %}
<div style="width: 100% ; text-align: center; margin-top: 2%;">
    <h1 id="title">其他連結</h1>
</div>
<div class="link-page-container">
    <div class="mylink">
        <h2 style="font-style:italic">Contact</h2>
        <ul style="margin-top:5% ; text-align: left; font-size: 30px;">
            <li>
                <a href="https://www.facebook.com/profile.php?id=100026347455676" target="_blank"><i class="fa-brands fa-facebook"></i>Facebook(公事帳)</a>
            </li>
            <li>
                <a href="https://www.facebook.com/profile.php?id=100043543188823" target="_blank"><i class="fa-brands fa-facebook"></i>Facebook(網帳)</a>
            </li>
            <li>
                <a href="https://www.instagram.com/sasaki_1026/" target="_blank"><i class="fa-brands fa-instagram"></i>Instagram</a>
            </li>
            <li>
                <a href="https://github.com/Sasaki1026" target="_blank"><i class="fa-brands fa-github"></i>Github</a>
            </li>
            <li>
                Gmail : kanonagi1026@gmail.com
            </li>
        </ul>
    </div>
    <div class="reference">
        <h2 style="font-style:italic">圖源繪師 reference</h2>
        <ul style="margin-top:5% ; text-align: left; font-size: 30px;">
            <li>
                <a href="https://twitter.com/TEIGI_3" target="_blank">和武はざの</a>
            </li>
            <li>
                <a href="https://twitter.com/hanekoto2424" target="_blank">はねこと</a>
            </li>
        </ul>
    </div>
</div>
{% endblock message %}